*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    color: #4865b5;
    margin: 30px;
}
h2{
    margin-bottom: 20px;
}
h3{
    color: black;
}
.map{
    text-align: center;
}
.map img{
    width: 70%;
}